/* 中间的用户信息部分 */
.ife_weiboUserInfo{
	margin-top:50px;
	width:100%;
	overflow:hidden;
}
.ife_weiboUserInfo .ife_weiboInfoContent{
	width:900px;
	margin:16px auto 0;
	padding-top:48px;
}
.ife_weiboUserInfo .ife_weiboInfoContent .ife_weiboUserAvatar{
	width:100px;
	height:100px;
	margin:0 auto;
}
#J_userAvatar{
	border:0;
	border-radius:50px;
	box-shadow:0 0 10px 2px #e5e5e5;
}
#J_userAvatar:hover{
	box-shadow:0 0 10px 2px #eb7350;
}
.ife_weiboUserInfo .ife_weiboInfoContent .ife_weiboUsername{
	width:100px;
	margin:0 auto;
}
.ife_weiboUserInfo .ife_weiboInfoContent .ife_weiboUsername h1{
	font-size:22px;
	color: #ffffff;
	text-align:center;
	text-shadow: 0 0 4px rgba(0,0,0,0.5);
	margin-top:6px;
	cursor:pointer;
}
.ife_weiboUserInfo .ife_weiboInfoContent .ife_weiboCreateTime{
	width:200px;
	margin:0 auto;
	overflow:hidden;
}
.ife_weiboUserInfo .ife_weiboInfoContent .ife_weiboCreateTime h6{
	font-size:14px;
	color:#fff;
	text-align:center;
	text-shadow: 0 0 4px rgba(0,0,0,0.5);
	margin-top:0;
	cursor:pointer;
}
/* 关注按钮 */
.ife_weiboUserInfo .ife_weiboInfoContent .ife_weibouserfocus{
	text-align:center;
	margin:6px auto 0;
	width:200px;
	/*display:block;*/
	display:none;
}
.ife_weiboUserInfo .ife_weiboInfoContent .ife_weibouserfocus a{
	display:inline-block;
	text-decoration:none;
	height:34px;
	line-height:35px;
	font-size:14px;
	width: 104px;
	padding:0;
	color: #fff;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	background: -webkit-linear-gradient(top, #fa7d3c 0%,#f55f10 100%);
	border-radius: 2px;
	text-align: center;
}
.ife_weiboUserInfo .ife_weiboInfoContent .ife_weibouserfocus a span:first-of-type{
	font-size:18px;
	font-weight:700;
}
/* 标题 */
.ife_weiboContent .ife_weiboContentTitle{
	background:#fff;
	color:#333;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	margin-bottom: 16px;
	height:40px;
	width:920px;
	border-radius:2px;
}
.ife_weiboContent .ife_weiboContentTitle ul{
	margin:0;
	padding:0;
}
.ife_weiboContent .ife_weiboContentTitle ul li{
	margin:0;
	padding:0;
	float:left;
	height:40px;
	text-align:center;
	width:306px;
	margin-right:1px;
	cursor:pointer;
}
.ife_weiboContent .ife_weiboContentTitle ul li:last-of-type{
	margin-right:0;
}
.ife_weiboContent .ife_weiboContentTitle ul li a{
	text-decoration:none;
	color:#333;
	font-weight:700;
	font-size:14px;
	display:inline-block;
	line-height:40px;
	position:relative;
}
.ife_weiboContent .ife_weiboContentTitle ul li a:hover i{
	display:inline-block;
}
.ife_weiboContent .ife_weiboContentTitle ul li a i{
	display:none;
}
.ife_weiboContent .ife_weiboContentTitle ul li a i:after{
	content: "";
	width:70px;
	display:inline-block;
	height:2px;
	background:#f7691d;
	overflow:hidden;
	z-index:99;
	position:absolute;
	bottom:0;
	left:-6px;
}
.ife_weiboContent .ife_weiboContentBody{
	width:920px;
	height:200px;
}
.ife_weiboContentBody .ife_weiboLeftContentBody{
	float:left;
	margin-right:20px;
	width:300px;
}
.ife_weiboContentBody .ife_weiboRightContentBody{
	float:left;
	background:transparent;
	height:200px;
	width:600px;
	border-radius:2px;
}
.ife_weiboContentBody .ife_weiboLeftContentBody .ife_weiboLeftContentUserInfo{
	width:300px;
	height:60px;
	padding:12px 0;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	background:#fff;
	border-radius:2px;
	margin-bottom:16px;
}
.ife_weiboContentBody .ife_weiboLeftContentBody .ife_weiboLeftContentUserInfo ul{
	margin:0;
	padding:0;
	height:36px;
	width:300px;
}
.ife_weiboLeftContentBody .ife_weiboLeftContentUserInfo li{
	margin:0;
	padding:0;
	width:100px;
	height:36px;
	text-align:center;
	float:left;
	cursor:pointer;
	border-right:1px solid #d9d9d9;
}
.ife_weiboLeftContentBody .ife_weiboLeftContentUserInfo li:hover strong{
	color:#eb7350;
}
.ife_weiboLeftContentBody .ife_weiboLeftContentUserInfo li:last-of-type{
	border-right:none;
}

.ife_weiboLeftContentBody .ife_weiboLeftContentUserInfo li strong{
	display:block;
	text-align:center;
	font-size:18px;
}
.ife_weiboLeftContentBody .ife_weiboLeftContentUserInfo li em{
	display:block;
	text-align:center;
	color:#808080;
	font-size:12px;
}
.ife_weiboLeftContentBody .ife_weiboweirelative{
	width:300px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	background:#fff;
	border-radius:2px;
}
.ife_weiboLeftContentBody .ife_weiboweirelative h2{
	width:300px;
	height:39px;
	font-size:14px;
	font-weight:700;
	color:#333;
	line-height:39px;
	cursor:pointer;
	padding:0;
	margin:0;
	border-bottom:1px solid #f2f2f5;
	padding-left:16px;
}
.ife_weiboLeftContentBody .ife_weiboweirelative h2:hover{
	color:#eb7350;
}
.ife_weiboLeftContentBody .ife_weiboweirelative h4{
	font-size:14px;
	font-weight:700;
	width:300px;
	margin:0;
	padding:16px 0 0 16px;
	cursor:pointer;
}
.ife_weiboLeftContentBody .ife_weiboweirelative h4:hover{
	color:#eb7350;
}
.ife_weiboLeftContentBody .ife_weiboweirelative ul, .ife_weiboLeftContentBody .ife_weiboweirelative li,.ife_weiboLeftContentBody .ife_weiboweirelative li p{
	margin:0;
	padding:0;
}
.ife_weiboLeftContentBody .ife_weiboweirelative li{
	float:left;
	cursor:pointer;
	margin:15px 0 0 22px;
}
.ife_weiboLeftContentBody .ife_weiboweirelative li p a{
	text-decoration:none;
	color:#333;
}
.ife_weiboLeftContentBody .ife_weiboweirelative li p:first-of-type{
	width:50px;
	height:50px;
	text-align:center;
}
.ife_weiboLeftContentBody .ife_weiboweirelative li p:first-of-type img{
	border-radius:25px;
}
.ife_weiboLeftContentBody .ife_weiboweirelative li p:last-of-type{
	width:50px;
	height:25px;
	line-height:25px;
	margin:10px 0 0 0;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-algin:center;
}
.ife_weiboLeftContentBody .ife_weiboweirelative li p a{
	text-decoration:none;
	font-size:12px;
	line-height:25px;
}
.ife_weiboLeftContentBody .ife_weiboweirelative li p a:hover{
	color: #eb7350;
}
.ife_weiboLeftContentBody .ife_weiboweirelative .ife_weiboweirelativemore{
	width:300px;
	height:36px;
	text-align:center;
	color:#333;
	line-height:36px;
	cursor:pointer;
	border-top:1px solid #d9d9d9;
	margin-top:10px;
}
.ife_weiboLeftContentBody .ife_weiboweirelative .ife_weiboweirelativemore:hover a{
	color:#eb7350;
}
.ife_weiboLeftContentBody .ife_weiboweirelative .ife_weiboweirelativemore a{
	text-decoration:none;
	color:#333;
	font-size:14px;
}