link(rel="stylesheet",href="/css/CSSReset.css")
link(rel="stylesheet",href="/css/CSSAnimate.css")
link(rel="stylesheet",href="/css/bootstrap.min.css")
link(rel="stylesheet",href="/css/toastr.min.css")
