body{
	background:#feca98 url("/images/weiboBg.jpg") no-repeat top center;
}
/* 导航条 */
.ife_weiboNav{
	width:100%;
	background:rgba(255,255,255,0.94);
	position:fixed;
	z-index:99999;
	top:0;
	left:0;
	box-shadow: 0 0 1px 0px rgba(0,0,0,0.3),0 0 6px 2px rgba(0,0,0,0.15);
	border-top:2px solid #fa7d3c;
}
.ife_weiboNav a.navbar-brand span{
	font-style:italic;
}
.ife_weiboNav a:hover span,
.ife_weiboNav .active span,
.ife_weiboNav form a{
	color:#fa7d3c;
}
/* 中间的用户信息部分 */
.ife_weiboUserInfo{margin-top:50px;width:100%;overflow:hidden;}
.ife_weiboUserInfo .ife_weiboInfoContent{
	width:900px;
	margin:16px auto 0;
	padding-top:48px;
}
.ife_weiboUserInfo .ife_weiboInfoContent .ife_weiboUserAvatar{
	width:100px;
	height:100px;
	margin:0 auto;
}
#J_userAvatar{
	border:0;
	border-radius:50px;
	box-shadow:0 0 10px 2px #e5e5e5;
}
#J_userAvatar:hover{
	box-shadow:0 0 10px 2px #eb7350;
}
.ife_weiboUserInfo .ife_weiboInfoContent .ife_weiboUsername{
	width:100px;
	margin:0 auto;
}
.ife_weiboUserInfo .ife_weiboInfoContent .ife_weiboUsername h1{
	font-size:22px;
	color:#fff;
	text-align:center;
	text-shadow: 0 0 4px rgba(0,0,0,0.5);
	margin-top:6px;
	cursor:pointer;
}
.ife_weiboUserInfo .ife_weiboInfoContent .ife_weiboCreateTime{
	width:200px;
	margin:0 auto;
	overflow:hidden;
}
.ife_weiboUserInfo .ife_weiboInfoContent .ife_weiboCreateTime h6{
	font-size:14px;
	color:#fff;
	text-align:center;
	text-shadow: 0 0 4px rgba(0,0,0,0.5);
	margin-top:6px;
	cursor:pointer;
}