.ife_wrap .ife_leftNav{
	width:150px;
	min-height:680px;
	display:inline-block;
	vertical-align:top;
}
.ife_leftNav .ife_leftBodyActive{
	position:fixed;
	width:150px;
	top:65px;
	left:143px;
}
.ife_leftNav .ife_leftBody{
	width:150px;
	padding-bottom:18px;
	border-bottom:1px solid rgba(160,123,123,0.1);
}
.ife_leftNav .ife_leftBody ul{
	margin:0;
	padding:0;
}
.ife_leftNav .ife_leftBody ul li{
	width:150px;
	height:34px;
	line-height:34px;
	cursor:pointer;
}
.ife_leftNav .ife_leftBody ul li:hover{
	background:rgba(160,123,123,0.2);
}
.ife_leftNav .ife_leftBody ul li a{
	font-size:14px;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	margin-left:14px;
}
.ife_leftNav .ife_leftBody ul li.active i{
	width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 3px;
    background: #fa7d3c;
    overflow: hidden;
    margin-top:14px;
    margin-right:10px;
}

