body{
    background:#feca98 url("/images/weiboBg.jpg") no-repeat top center;
}
/* 导航条 */
.ife_weiboNav{
    width:100%;
    background:rgba(255,255,255,0.94);
    position:fixed;
    z-index:99999;
    top:0;
    left:0;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.3),0 0 6px 2px rgba(0,0,0,0.15);
    border-top:2px solid #fa7d3c;
}
.ife_weiboNav a.navbar-brand{
    color:#fa7d3c;
}
.ife_weiboNav a.navbar-brand:hover{
    color:#fa7d3c;
}
.ife_weiboNav a.navbar-brand span{
    font-style:italic;
}
.ife_weiboNav a:hover span,
.ife_weiboNav .active_c span,
.ife_weiboNav form a{
    color:#fa7d3c;
}