doctype html
html(lang='zh-CN')
  head
    meta(charset='UTF-8')
    |     
    title iFE - &#x8BB0;&#x5F55;&#x751F;&#x6D3B;&#xFF0C;&#x8BB0;&#x5F55;&#x611F;&#x52A8;
    |     
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    link(rel='stylesheet', href='./css/CSSReset.css')
    |     
    link(rel='stylesheet', href='./css/CSSAnimate.css')
    |     
    link(rel='stylesheet', href='./css/bootstrap.min.css')
    |     
    link(rel='stylesheet', href='./css/toastr.min.css')
    |     
    link(rel='stylesheet', href='./css/valitor.css')
  body
    .ife_valitorBg.animated.swing
    |     
    #J_valitorBgCanvas.ife_valitorBgCanvas
    |     
    .ife_valitorWrap.animated.fadeInUp
      .ife_logo
        img(src='./images/ifeValitorLogo.png', alt='iFE社交平台', title='iFE社交平台', width='333', height='122')
      |         
      .ife_valitorContent
        .ife_control
          a#J_login.ife_controlBtn.active(href='javascript:void(0);') &#x767B;&#x5F55;
          |                 
          a#J_register.ife_controlBtn(href='javascript:void(0);') &#x6CE8;&#x518C;
        |             
        #J_formLogin.ife_formContent
          form.form-horizontal
            .form-group
              label.col-sm-2.control-label(for='loginName') &#x6635;&#x79F0;&#xFF1A;
              |                         
              .col-sm-10
                input#loginName.col-sm-10.form-control(type='email', name='loginName', placeholder='请输入昵称')
            |                     
            .form-group
              label.col-sm-2.control-label(for='loginPassword') &#x5BC6;&#x7801;&#xFF1A;
              |                         
              .col-sm-10
                input#loginPassword.form-control(type='password', name='loginPassword', placeholder='请输入密码')
            |                     
            a#J_loginBtn.btn.btn-success.btn-block(href='javascript:void(0);') &#x767B;&#x5F55;
        |             
        #J_formRegister.ife_formContent
          form.form-horizontal
            .form-group
              label.col-sm-2.control-label(for='registerName') &#x6635;&#x79F0;&#xFF1A;
              |                         
              .col-sm-10
                input#registerName.col-sm-10.form-control(type='email', name='registerName', placeholder='请输入昵称')
            |                     
            .form-group
              label.col-sm-2.control-label(for='registerPassword') &#x5BC6;&#x7801;&#xFF1A;
              |                         
              .col-sm-10
                input#registerPassword.col-sm-10.form-control(type='password', name='registerPassword', placeholder='请输入密码')
            |                     
            a#J_registerBtn.btn.btn-info.btn-block(href='javascript:void(0);') &#x6CE8;&#x518C;
    |     
    script(src='./js/particles.min.js')
    |     
    script(src='./js/particles.config.js')
    |     
    script(src='./js/jquery.min.js')
    |     
    script(src='./js/toastr.min.js')
    |     
    script(src='./js/toastr.config.js')
    |     
    script(type='text/javascript').
      var valitor = new Valitor();
      function Valitor() {}
      // 添加点击事件
      Valitor.prototype.addClickEvent = function () {
      var self = this;
      // 选项卡切换
      $('#J_register').click(function(e) {
      $(e.target).addClass('active');
      $('#J_login').removeClass('active');
      $('#J_formLogin').hide();
      $('#J_formLogin input').val('');
      $('#J_formRegister').show();
      });
      $('#J_login').click(function(e) {
      $(e.target).addClass('active');
      $('#J_register').removeClass('active');
      $('#J_formRegister').hide();
      $('#J_formRegister input').val('');
      $('#J_formLogin').show();
      });
      // 登录和注册按钮
      $('#J_loginBtn').click(function () {
      // 验证用户名和密码
      var username = $.trim($('#loginName').val());
      var password = $.trim($('#loginPassword').val());
      var regName = /^[a-zA-Z\\u4e00-\u9fa5]+$/;
      if (!regName.test(username)) {
      window.message['warning'](window.message.errorCode['userError']);
      return false;
      } else if (password.length < 6){
      window.message['warning'](window.message.errorCode['passwordError']);
      return false;
      }
      // 发送数据
      var fd = new FormData();
      fd.append('username', username);
      fd.append('password', password);
      self.sendData('/user/login', fd, $('#J_register'), 'login');
      });
      $('#J_registerBtn').click(function () {
      // 验证用户名和密码
      var username = $.trim($('#registerName').val());
      var password = $.trim($('#registerPassword').val());
      var regName = /^[a-zA-Z\\u4e00-\u9fa5]+$/;
      if (!regName.test(username)) {
      window.message['warning'](window.message.errorCode['userError']);
      return false;
      } else if (password.length < 6){
      window.message['warning'](window.message.errorCode['passwordError']);
      return false;
      }
      // 发送数据
      var fd = new FormData();
      fd.append('username', username);
      fd.append('password', password);
      self.sendData('/user/register', fd, $('#J_login'), 'register');
      });
      };
      Valitor.prototype.sendData = function (url, data, elem, operType) {
      $.ajax({
      url: url,
      type: 'POST',
      data: data,
      processData: false, // 告诉jQuery不要去处理发送的数据
      contentType: false, // 告诉jQuery不要去设置Content-Type请求头
      beforeSend: function (xhr) {
      elem.attr('disabled', 'disabled');
      },
      success: function (data) {
      window.message['success'](window.message.errorCode[operType + 'Success']);
      },
      error: function (data) {
      window.message['error'](window.message.errorCode[operType + 'Error']);
      elem.attr('disabled', '');
      }
      });
      };
      Valitor.prototype.addBlurEvent = function () {
      var self = this;
      $('#registerName').blur(self.valitName);
      $('#loginName').blur(self.valitName);
      $('#registerPassword').blur(self.valitPassword);
      $('#loginPassword').blur(self.valitPassword);
      };
      Valitor.prototype.valitName = function (e) {
      var regName = /^[a-zA-Z\\u4e00-\u9fa5]+$/;
      var value = $.trim($(e.target).val());
      if (value == '') {
      window.message['warning'](window.message.errorCode['userEmpty']);
      } else if (!regName.test(value)) {
      window.message['warning'](window.message.errorCode['userError']);
      }
      };
      Valitor.prototype.valitPassword = function (e) {
      var value = $.trim($(e.target).val());
      if (value.length < 6) {
      window.message['warning'](window.message.errorCode['passwordError']);
      }
      };
      valitor.addClickEvent();
      valitor.addBlurEvent();
