extend ../../layout

block headerContent
	link(rel="stylesheet",href="/css/ife_nav.css")
	link(rel="stylesheet",href="/css/ife_article.css")
	link(rel="stylesheet",href="/css/ife_home.css")
	style.
		/* 微博内容部分 */
		.ife_weiboContent{
			width:922px;
			margin:20px auto 0;
			padding:0 1px;
		}

block content
	// 导航部分
	include ../ife_nav
	include ./ife_userInfo

	.ife_weiboContent
		.ife_weiboContentTitle
			ul
				li
					a(href="javascript:void(0);") 
						| 我的关注
						i
				li
					a(href="javascript:void(0);") 
						| 我的文章
						i
				li
					a(href="javascript:void(0);") 
						| 我的粉丝
						i
		.ife_weiboContentBody.clearfix
			.ife_weiboLeftContentBody
				.ife_weiboLeftContentUserInfo
					ul
						li
							strong 1702
							em 关注
						li
							strong 6626
							em 粉丝
						li
							strong 34630
							em 文章
				.ife_weiboweirelative
					h2 微关系
					h4 
						| 共同关注
						span (6)
					ul.clearfix
						li
							p
								img(src="/images/ife_userDefaultAvatar_little.gif",width="50",height="50")
							p
								a(href="javascript:void(0);") 鬼道-徐凯
						li
							p
								img(src="/images/ife_userDefaultAvatar_little.gif",width="50",height="50")
							p
								a(href="javascript:void(0);") 鬼道-徐凯
						li
							p
								img(src="/images/ife_userDefaultAvatar_little.gif",width="50",height="50")
							p
								a(href="javascript:void(0);") 鬼道-徐凯
						li
							p
								img(src="/images/ife_userDefaultAvatar_little.gif",width="50",height="50")
							p
								a(href="javascript:void(0);") 鬼道-徐凯
						li
							p
								img(src="/images/ife_userDefaultAvatar_little.gif",width="50",height="50")
							p
								a(href="javascript:void(0);") 鬼道-徐凯
						li
							p
								img(src="/images/ife_userDefaultAvatar_little.gif",width="50",height="50")
							p
								a(href="javascript:void(0);") 鬼道-徐凯
						li
							p
								img(src="/images/ife_userDefaultAvatar_little.gif",width="50",height="50")
							p
								a(href="javascript:void(0);") 鬼道-徐凯
						li
							p
								img(src="/images/ife_userDefaultAvatar_little.gif",width="50",height="50")
							p
								a(href="javascript:void(0);") 鬼道-徐凯
					.ife_weiboweirelativemore
						a(href="javascript:void(0);") 查看更多&nbsp;>
			.ife_weiboRightContentBody
				include ./ife_article		
				include ./ife_loading
block footerContent
	script(src="/js/ife_home.js")