nav.ife_weiboNav.nav.navbar-default
	.container-fluid
		.navbar-header
			button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#iFENavBar")
				span.sr-only 导航条
				span.icon-bar
				span.icon-bar
				span.icon-bar
			// Logo图标
			a.navbar-brand(href="#")
				img(src="/images/logo01.png",alt="iFE社交平台",title="iFE社交平台",height="40",style="margin-top:-10px;")
		// 导航条
		#iFENavBar.collapse.navbar-collapse
			// 左侧导航条
			ul.nav.navbar-nav
				li.active
					a(href="#") 
						span.glyphicon.glyphicon-home
						| &nbsp;首页
			// 搜索框
			form.navbar-form.navbar-left
				.form-group
					input.form-control(type="text",placeholder="找人",style="width:400px;")
				a(href="javascript:void(0);",style="margin-left:-30px;position:relative;top:2px;")
					span.glyphicon.glyphicon-search
			// 右侧导航条
			ul.nav.navbar-nav.navbar-right
				li
					a(href="#") 
						span.glyphicon.glyphicon-user
						| &nbsp;#{username}
				li
					a(href="#")
						span.glyphicon.glyphicon-comment
						| &nbsp;聊天室
				li
					a(href="#")
						span.glyphicon.glyphicon-send
						| &nbsp;漂流瓶
				li
					a(href="/user/logout")
						span.glyphicon.glyphicon-log-out
						| &nbsp;退出


