extend ../layout

block content
	h1 Hello jade
	a#J_logoutBtn.btn.btn-success(href="javascript:void(0);") 退出登录

block footerContent
	script.
		$('#J_logoutBtn').click(function () {
			$.ajax({
				url: '/user/logout',
				type: 'GET',
				success: function (data) {
					console.log(data);
				}
			});
		});