.ife_article
	.ife_article_box.clearfix
		a.ife_article_close(href="javascript:void(0);") &times;
		img.ife_article_avatar(src="/images/1.jpg",alt="用户头像",width="50",height="50")
		.ife_article_content
			.ife_article_main
				h2.ife_article_username Andy
				h3.ife_article_publishTime 
					a(href="javascript:void(0);")
						span 57分钟前
						| 发布
				p.ife_article_txt.
					轻轻的我走了，正如我轻轻的来；我轻轻的招手，作别西天的云彩。轻轻的我走了，正如我轻轻的来；我轻轻的招手，作别西天的云彩。轻轻的我走了，正如我轻轻的来；我轻轻的招手，作别西天的云彩。轻轻的我走了，正如我轻轻的来；我轻轻的招手，作别西天的云彩。轻轻的我走了，正如我轻轻的来；我轻轻的招手，作别西天的云彩。轻轻的我走了，正如我轻轻的来；我轻轻的招手，作别西天的云彩。
				.ife_article_picCon
					img.ife_article_pic(src="/images/img1.jpg",alt="文章图片")
			.ife_article_info.clearfix
				span.ife_article_time 02-14 23:01
				a.ife_article_praise(href="javascript:void(0);") 赞
			.ife_article_praises_total(total="4") 4个人觉得很赞
			.ife_article_comment_list
				.ife_article_comment_box.clearfix(user="self")
					img.ife_article_commentAvatar(src="/images/my.jpg",alt="我的头像",width="40",height="40")
					.ife_article_comment_content
						.ife_article_comment_text.clearfix
							strong.ife_article_comment_username 我：
							p.ife_article_comment_txt 上善若水，水善利万物而不争，处众人之所恶，故几于道，王法地地，法天天，法道道，法自然
						p.ife_article_comment_time
							em.ife_article_comment_relatime 2014-02-19 14:36
							a.ife_article_comment_praise(href="javascript:void(0);",total="1",my="0",style="display:inline-block;") 1&nbsp;赞
							a.ife_article_comment_operate(href="javascript:void(0);") 删除
						.ife_article_scomment_box.clearfix(user="self")
							img.ife_article_scommentAvatar(src="/images/my.jpg",alt="我的头像",width="40",height="40")
							.ife_article_scomment_content
								.ife_article_scomment_text.clearfix
									strong.ife_article_scomment_username 我：&nbsp;回复&nbsp;他：
									p.ife_article_scomment_txt 上善若水，水善利万物而不争，处众人之所恶，故几于道，王法地地，法天天，法道道，法自然
								p.ife_article_scomment_time
									em.ife_article_scomment_relatime 2014-02-19 14:36
									a.ife_article_scomment_praise(href="javascript:void(0);",total="1",my="0",style="display:inline-block;") 1&nbsp;赞
									a.ife_article_scomment_operate(href="javascript:void(0);") 删除
						.ife_article_scomment_box.clearfix(user="self")
							img.ife_article_scommentAvatar(src="/images/my.jpg",alt="我的头像",width="40",height="40")
							.ife_article_scomment_content
								.ife_article_scomment_text.clearfix
									strong.ife_article_scomment_username 我：&nbsp;回复&nbsp;他：
									p.ife_article_scomment_txt 上善若水，水善利万物而不争，处众人之所恶，故几于道，王法地地，法天天，法道道，法自然
								p.ife_article_scomment_time
									em.ife_article_scomment_relatime 2014-02-19 14:36
									a.ife_article_scomment_praise(href="javascript:void(0);",total="1",my="0",style="display:inline-block;") 1&nbsp;赞
									a.ife_article_scomment_operate(href="javascript:void(0);") 删除
			.ife_article_text_box
				include ./ife_comment
