.ife_comment_content_publish
	.ife_comment_content_input
			.ife_comment_content_ta.ife_comment_content_input_hidden(title="评论输入框",contenteditable="true")
	//-
		.ife_comment_content_input
			.ife_comment_content_ta(title="评论输入框",contenteditable="true")
		.ife_comment_content_publish_footer.clearfix
			a(href="javascript:void(0);")
				img(src="/images/edit_avatar.png")
				| &nbsp;&nbsp;表情
			a.ife_comment_publicBtn(href="javascript:void(0);") 发表