.ife_comment_content_publish
	.ife_comment_content_hiddenInput
		.ife_comment_content_ta(title="评论输入框",contenteditable="true")
			span 我也说一句
	.ife_comment_content_inputbox(style="display:none;")
		.ife_comment_content_input
			.ife_comment_content_ta(title="评论输入框",contenteditable="true")
		.ife_comment_content_publish_footer.clearfix
			a.J_comment_face_icon(href="javascript:void(0);")
				img(src="/images/edit_avatar.png")
				| &nbsp;&nbsp;表情
			include ./ife_comment_faceicon
			a.ife_comment_publicBtn(href="javascript:void(0);") 发表