.ife_content_publish
	p.ife_content_title
		img(src="/images/edit_title.jpg")
	p#J_content_titletxt.ife_content_titletxt iFE社交平台
	.ife_content_input
		#J_publicTextarea.ife_content_ta(title="iFE输入框",contenteditable="true")
	.ife_content_publish_footer.clearfix
		a#J_content_faceicon(href="javascript:void(0);")
			img(src="/images/edit_avatar.png")
			| &nbsp;&nbsp;表情
		a#J_content_fileUpload(href="javascript:void(0);")
			img(src="/images/edit_pic.png")
			| &nbsp;&nbsp;图片
		a.ife_content_publish_footer_title(href="javascript:void(0);")
			| 上善若水，水善利万物而不争，处众人之所恶，故几于道
		a#J_publicBtn.ife_publicBtn(href="javascript:void(0);")
			发布
	include ./ife_faceicon
	include ./ife_fileUpload