.ife_face_con
	ul#J_faceIcon.clearfix
		li
			img(src="/images/face/zz2_thumb.gif",title="[织]",width="22",height="22")
		li
			img(src="/images/face/horse2_thumb.gif",title="[神马]",width="22",height="22")
		li
			img(src="/images/face/fuyun_thumb.gif",title="[浮云]",width="22",height="22")
		li
			img(src="/images/face/geili_thumb.gif",title="[给力]",width="22",height="22")
		li
			img(src="/images/face/wg_thumb.gif",title="[围观]",width="22",height="22")
		li
			img(src="/images/face/vw_thumb.gif",title="[威武]",width="22",height="22")
		li
			img(src="/images/face/panda_thumb.gif",title="[熊猫]",width="22",height="22")
		li
			img(src="/images/face/rabbit_thumb.gif",title="[兔子]",width="22",height="22")
		li
			img(src="/images/face/otm_thumb.gif",title="[奥特曼]",width="22",height="22")
		li
			img(src="/images/face/j_thumb.gif",title="[囧]",width="22",height="22")
		li
			img(src="/images/face/hufen_thumb.gif",title="[互粉]",width="22",height="22")
		li
			img(src="/images/face/liwu_thumb.gif",title="[礼物]",width="22",height="22")
		li
			img(src="/images/face/smilea_thumb.gif",title="[呵呵]",width="22",height="22")
		li
			img(src="/images/face/tootha_thumb.gif",title="[嘻嘻]",width="22",height="22")
		li
			img(src="/images/face/laugh.gif",title="[哈哈]",width="22",height="22")
		li
			img(src="/images/face/tza_thumb.gif",title="[可爱]",width="22",height="22")
		li
			img(src="/images/face/kl_thumb.gif",title="[可怜]",width="22",height="22")
		li
			img(src="/images/face/kbsa_thumb.gif",title="[挖鼻屎]",width="22",height="22")
		li
			img(src="/images/face/cj_thumb.gif",title="[吃惊]",width="22",height="22")
		li
			img(src="/images/face/shamea_thumb.gif",title="[害羞]",width="22",height="22")
		li
			img(src="/images/face/zy_thumb.gif",title="[挤眼]",width="22",height="22")
		li
			img(src="/images/face/bz_thumb.gif",title="[闭嘴]",width="22",height="22")
		li
			img(src="/images/face/bs2_thumb.gif",title="[鄙视]",width="22",height="22")
		li
			img(src="/images/face/lovea_thumb.gif",title="[爱你]",width="22",height="22")
		li
			img(src="/images/face/sada_thumb.gif",title="[泪]",width="22",height="22")
		li
			img(src="/images/face/heia_thumb.gif",title="[偷笑]",width="22",height="22")
		li
			img(src="/images/face/qq_thumb.gif",title="[亲亲]",width="22",height="22")
		li
			img(src="/images/face/sb_thumb.gif",title="[生病]",width="22",height="22")
		li
			img(src="/images/face/mb_thumb.gif",title="[太开心]",width="22",height="22")
		li
			img(src="/images/face/ldln_thumb.gif",title="[懒得理你]",width="22",height="22")
		li
			img(src="/images/face/yhh_thumb.gif",title="[右哼哼]",width="22",height="22")
		li
			img(src="/images/face/zhh_thumb.gif",title="[左哼哼]",width="22",height="22")
		li
			img(src="/images/face/x_thumb.gif",title="[嘘]",width="22",height="22")
		li
			img(src="/images/face/cry.gif",title="[衰]",width="22",height="22")
		li
			img(src="/images/face/wq_thumb.gif",title="[委屈]",width="22",height="22")
		li
			img(src="/images/face/t_thumb.gif",title="[吐]",width="22",height="22")
		li
			img(src="/images/face/k_thumb.gif",title="[打哈气]",width="22",height="22")
		li
			img(src="/images/face/bba_thumb.gif",title="[抱抱]",width="22",height="22")
		li
			img(src="/images/face/angrya_thumb.gif",title="[怒]",width="22",height="22")
		li
			img(src="/images/face/yw_thumb.gif",title="[疑问]",width="22",height="22")
		li
			img(src="/images/face/cza_thumb.gif",title="[馋嘴]",width="22",height="22")
		li
			img(src="/images/face/88_thumb.gif",title="[拜拜]",width="22",height="22")
		li
			img(src="/images/face/sk_thumb.gif",title="[思考]",width="22",height="22")
		li
			img(src="/images/face/sweata_thumb.gif",title="[汗]",width="22",height="22")
		li
			img(src="/images/face/sleepya_thumb.gif",title="[困]",width="22",height="22")
		li
			img(src="/images/face/sleepa_thumb.gif",title="[睡觉]",width="22",height="22")
		li
			img(src="/images/face/money_thumb.gif",title="[钱]",width="22",height="22")
		li
			img(src="/images/face/sw_thumb.gif",title="[失望]",width="22",height="22")
		li
			img(src="/images/face/cool_thumb.gif",title="[酷]",width="22",height="22")
		li
			img(src="/images/face/hsa_thumb.gif",title="[花心]",width="22",height="22")
		li
			img(src="/images/face/hatea_thumb.gif",title="[哼]",width="22",height="22")
		li
			img(src="/images/face/gza_thumb.gif",title="[鼓掌]",width="22",height="22")
		li
			img(src="/images/face/dizzya_thumb.gif",title="[晕]",width="22",height="22")
		li
			img(src="/images/face/bs_thumb.gif",title="[悲伤]",width="22",height="22")
		li
			img(src="/images/face/crazya_thumb.gif",title="[抓狂]",width="22",height="22")
		li
			img(src="/images/face/h_thumb.gif",title="[黑线]",width="22",height="22")
		li
			img(src="/images/face/yx_thumb.gif",title="[阴险]",width="22",height="22")
		li
			img(src="/images/face/nm_thumb.gif",title="[怒骂]",width="22",height="22")
		li
			img(src="/images/face/hearta_thumb.gif",title="[心]",width="22",height="22")
		li
			img(src="/images/face/unheart.gif",title="[伤心]",width="22",height="22")
		li
			img(src="/images/face/pig.gif",title="[猪头]",width="22",height="22")
		li
			img(src="/images/face/ok_thumb.gif",title="[ok]",width="22",height="22")
		li
			img(src="/images/face/ye_thumb.gif",title="[耶]",width="22",height="22")
		li
			img(src="/images/face/good_thumb.gif",title="[good]",width="22",height="22")
		li
			img(src="/images/face/no_thumb.gif",title="[不要]",width="22",height="22")
		li
			img(src="/images/face/z2_thumb.gif",title="[赞]",width="22",height="22")
		li
			img(src="/images/face/come_thumb.gif",title="[来]",width="22",height="22")
		li
			img(src="/images/face/sad_thumb.gif",title="[弱]",width="22",height="22")
		li
			img(src="/images/face/lazu_thumb.gif",title="[蜡烛]",width="22",height="22")
		li
			img(src="/images/face/clock_thumb.gif",title="[钟]",width="22",height="22")
		li
			img(src="/images/face/cake.gif",title="[蛋糕]",width="22",height="22")
		li
			img(src="/images/face/m_thumb.gif",title="[话筒]",width="22",height="22")
		li
			img(src="/images/face/weijin_thumb.gif",title="[围脖]",width="22",height="22")
		li
			img(src="/images/face/lxhzhuanfa_thumb.gif",title="[转发]",width="22",height="22")
		li
			img(src="/images/face/lxhluguo_thumb.gif",title="[路过这儿]",width="22",height="22")
		li
			img(src="/images/face/bofubianlian_thumb.gif",title="[bofu变脸]",width="22",height="22")
		li
			img(src="/images/face/gbzkun_thumb.gif",title="[gbz困]",width="22",height="22")
		li
			img(src="/images/face/boboshengmenqi_thumb.gif",title="[生闷气]",width="22",height="22")
		li
			img(src="/images/face/chn_buyaoya_thumb.gif",title="[不要啊]",width="22",height="22")
		li
			img(src="/images/face/daxiongleibenxiong_thumb.gif",title="[dx泪奔]",width="22",height="22")
		li
			img(src="/images/face/cat_yunqizhong_thumb.gif",title="[运气中]",width="22",height="22")
		li
			img(src="/images/face/youqian_thumb.gif",title="[有钱]",width="22",height="22")
		li
			img(src="/images/face/cf_thumb.gif",title="[冲锋]",width="22",height="22")
		li
			img(src="/images/face/camera_thumb.gif",title="[照相机]",width="22",height="22")