.ife_chatbox{
	width:600px;
	background:#fff;
	color:#333;
	font-size:12px;
	margin:0 auto 10px;
	box-shadow: 0 0 2px rgba(0,0,0,0.15);
	border-radius: 2px;
	position:absolute;
	left:150px;
	top:16px;
}
.ife_chatbox .ife_chatboxtitle{
	width:600px;
	height:38px;
	line-height:38px;
	text-align:center;
	color:#333;
	font-size:14px;
	font-weight:700;
	margin:0;
	padding:0;
	border-bottom:1px solid #d9d9d9;
	cursor:pointer;
}
.ife_chatbox .ife_chatboxtitle span:hover{
	color:#fa7d3c;
}
.ife_chatpublishbox{
	width:600px;
	height:416px;
	overflow-y: auto;
    overflow-x: hidden;
    background:#f2f2f5;
    font-size:12px;
    color:#333;
    position:relative;
    z-index:9;
}
.ife_chatpublishbox .ife_chatpublishcontent{
	width:600px;
	padding: 10px 16px;
}
.ife_chatpublishbox .ife_chatpublishcontent .ife_chatpublishavatar{
	width:50px;
	height:50px;
	margin-right:13px;
	float:left;
}
.ife_chatpublishbox .ife_chatpublishcontent .ife_chatpublishavatar img{
	border:none;
	border-radius:25px;
}
.ife_chatpublishbox .ife_chatpublishcontent .ife_chatpushlishtext{
	float:left;
	min-width:44px;
	max-width:400px;
	min-height:42px;
	border:1px solid #ccc;
	border-radius:6px;
	background:#fff;
	outline:none;
	padding:10px;
	box-sizing:border-box;
	position:relative;
	word-wrap: break-word;
	line-height:20px;
	cursor:auto;
}
.ife_chatpublishbox .ife_chatpublishcontent .ife_chatpushlishtext i{
	display:block;
	width:0;
	height:0;
	border:6px solid transparent;
	border-top-color:#fff;
	border-right-color:#fff;
	position:absolute;
	top:6px;
	left:-10px;
	z-index:999;
}
.ife_chatpublishbox .ife_chatpublishcontent .ife_chatpushlishtext em{
	display:block;
	width:0;
	height:0;
	border:8px solid transparent;
	border-top-color:#ccc;
	border-right-color:#ccc;
	position:absolute;
	top:5px;
	left:-13px;
	z-index:-1;
}
.ife_chatpublishcontentshowright{
	width:600px;
	padding: 10px 16px;
}
.ife_chatpublishbox .ife_chatpublishcontentshowright .ife_chatpublishavatar{
	width:50px;
	height:50px;
	margin-left:13px;
	float:right;
}
.ife_chatpublishbox .ife_chatpublishcontentshowright .ife_chatpublishavatar img{
	border:none;
	border-radius:25px;
}
.ife_chatpublishbox .ife_chatpublishcontentshowright .ife_chatpushlishtext{
	float:right;
	min-width:44px;
	max-width:400px;
	min-height:42px;
	border:1px solid #ccc;
	border-radius:6px;
	background:#fff;
	outline:none;
	padding:10px;
	box-sizing:border-box;
	position:relative;
	word-wrap: break-word;
	line-height:20px;
	cursor:auto;
}
.ife_chatpublishbox .ife_chatpublishcontentshowright .ife_chatpushlishtext i{
	display:block;
	width:0;
	height:0;
	border:6px solid transparent;
	border-top-color:#fff;
	border-left-color:#fff;
	position:absolute;
	top:6px;
	right:-10px;
	z-index:999;
}
.ife_chatpublishbox .ife_chatpublishcontentshowright .ife_chatpushlishtext em{
	display:block;
	width:0;
	height:0;
	border:8px solid transparent;
	border-top-color:#ccc;
	border-left-color:#ccc;
	position:absolute;
	top:5px;
	right:-13px;
	z-index:-1;
}