.ife_contactsbox{
	width:230px;
	height:582px;
	overflow-y: auto;
    overflow-x: hidden;
	background-color:#fff;
	margin:0 0 10px 0;
	box-shadow: 0 0 2px rgba(0,0,0,0.15);
	border-radius: 2px;
	font-size:18px;
}
.ife_contactsbox .ife_contactboxtitle{
	margin:0 0 10px 0;
	padding:0;
	border-bottom:2px solid #fa7d3c;
	height:38px;
	line-height:38px;
	text-align:center;
	color:#333;
	font-size:14px;
	font-weight:700;
	cursor:pointer;
}
.ife_contactsbox .ife_contactboxtitle span:hover{
	color:#fa7d3c;
}
.ife_contactsbox ul, .ife_contactsbox li{
	margin:0;
	padding:0;
}
.ife_contactsbox li{
	width:230px;
	height:40px;
	padding:5px 16px;
	cursor:pointer;
}
.ife_contactsbox li img{
	border-radius:15px;
	cursor:pointer;
	float:left;
}
.ife_contactsbox li p{
	float:left;
	text-align:center;
	height:30px;
	margin-left: 10px;
    line-height: 30px;
    overflow: hidden;
    color: #333;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
	max-width: 114px;
    _width: 114px;
    font-size:14px;
}
.ife_contactsbox li p a{
	text-decoration:none;
	color:#333;
}