extend ../../layout

block headerContent
	link(rel="stylesheet",href="/css/ife_chat/ife_nav.css")
	link(rel="stylesheet",href="/css/ife_chat/ife_leftBody.css")
	link(rel="stylesheet",href="/css/ife_chat/ife_chatbox.css")
	link(rel="stylesheet",href="/css/ife_chat/ife_textarea.css")
	link(rel="stylesheet",href="/css/ife_chat/ife_contacts.css")
	style.
		.ife_wrap{
			width:1000px;
			margin:50px auto 0;
			padding:16px 0 0 0;
			font-size:0;
			background-color:rgba(231,116,3,0.15);
			position:relative;
		}
		.ife_wrap .ife_leftNav{
			min-height:592px;
		}
		.ife_wrap .ife_rightBody{
			width:850px;
			display:inline-block;
		}
		.ife_wrap .ife_rightBody .ife_rightMain{
			width:600px;
			margin-right:10px;
			display:inline-block;
			vertical-align:top;
		}
		.ife_wrap .ife_rightBody .ife_sideMain{
			width:230px;
			margin-right:10px;
			position:relative;
			display:inline-block;
		}
block content
	// 导航部分
	include ./ife_nav
	.ife_wrap
		.ife_leftNav
			.ife_leftBody#J_leftBody.ife_leftBodyActive
				ul
					li
						a.pull-left(href="/") 首页
						i.pull-right.ife_leftarrow
					li
						a.pull-left(href="/find") 找人
						i.pull-right.ife_leftarrow
					li.active
						a.pull-left(href="/chat") 聊天室
						i.pull-right.ife_leftarrow
					li
						a.pull-left(href="/home/detail/#{userid}/92a2b5cb9c6906035c2864fa225e1940") 个人主页
						i.pull-right.ife_leftarrow
		.ife_rightBody
			.ife_rightMain
				include ./ife_chatbox
			include ./ife_contacts
block footerContent
	script(src="/js/ife_chat/socket.io.js")
	script(src="/js/ife_chat/ife_socket.js")
	script(src="/js/ife_chat/ife_textarea.js")