.ife_chatbox
	p.ife_chatboxtitle
		span iFE聊天室
	.ife_chatpublishbox
		- var arr = [1, 2, 3, 4, 5, 6, 6];
		- for (var a in arr)
			.ife_chatpublishcontent.clearfix
				.ife_chatpublishavatar
					a(href="javascript:void(0);")
						img(src="/images/ife_userDefaultAvatar_little.gif",width="50",height="50")
				.ife_chatpushlishtext
					i
					em
					span 尽管我很早就习惯了这个大城市的感觉，这里是不可能像我的家乡一样目送夕阳消失的感觉，身上的羽绒服已经快穿了3年了，就不自觉的想起了那条围巾
		.ife_chatpublishcontentshowright.clearfix
				.ife_chatpublishavatar
					a(href="javascript:void(0);")
						img(src="/images/ife_userDefaultAvatar_little.gif",width="50",height="50")
				.ife_chatpushlishtext
					i
					em
					span 尽管我很早就习惯了这个大城市的感觉，这里是不可能像我的家乡一样目送夕阳消失的感觉，身上的羽绒服已经快穿了3年了，就不自觉的想起了那条围巾
	include ./ife_textarea