doctype html
html(lang="zh-CN")
	head
		meta(charset="UTF-8")
		title iFE - 记录生活，记录感动
		meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		include ./includes/header
		block headerContent
	body
		block content
		include ./includes/footer
		block footerContent